@tailwind base;
@tailwind components;

.btn {
  @apply block font-bold py-2 px-4 rounded transition duration-200;
}

.btn-primary {
  @apply bg-blue-500 text-white;
}

.btn-primary:hover {
  @apply bg-blue-700;
}

.btn-secondary {
  @apply border border-blue-500 text-blue-500;
}

.btn-secondary:hover {
  @apply bg-blue-500 text-white;
}

.h1 {
  @apply text-orange-500 text-4xl font-bold;
}

@tailwind utilities;
